/* 454545
FF6000
FFA559
FFE6C7
*/


body{margin: 0px auto;
  max-width: 1200px;

font-family: "roboto", "sans-serif" ;}



header, footer  {margin-right:0%;
  display:inline-block;
  text-align: center;
font-size: 0.9em;
background-color:#FFE6C7;
width: 100%;}
h1{margin-top: 0px;}

section, h3 {text-align: center;}

a {text-decoration: none;
font-size: 30px;
color: #1f1509;}

.first, .second, .third {background-color: #c2a030d8;
margin-top:30px;
padding: 10px;
border-style: solid;
border-width: 2px;}

.main-grid {display: grid;
  grid-template-columns: 1fr;
}
img {width:100%;
border: 2px solid black;}

p, h2 {color: black;
  background-color: rgb(253, 247, 247);
font-size: 18px;
line-height: 25px;}