body {
  max-width: 900px;
  margin: 10px auto;
}

body picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
h1 {
  font-size: large;
  color: grey;
  text-align: center;
}
picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
