thead{background-color: rgba(0, 0, 0 , .5)}
caption{caption-side: bottom;}
tbody {font-weight: bold;}
tbody tr:nth-child(2){background-color: gray;}

table{border-collapse: collapse;
margin:  auto;}
h1 {text-align: center;}


