
body {max-width: 1200px;
  margin-right: 10px;
  margin-left: 10px;

  font-family: "Manrope";
  color: black;
}

p {font-family: "Manrope";
font-weight: 200;}
header {background-color:#DADBD7;
text-align: center;
padding-top: .2rem;
padding-bottom: .2rem;
font-family: "Garamond" , "Rubik";

color: black;

}
.div4, .img-div {display: inline-flex;}
.img-div{float: left;
top: 10px;}


nav, button {display: inline-block;}

.tt {background-color: inherit;
color: inherit;}
nav { background-color: #eee;
  grid-column: 5/6;
  grid-row: 1/2;
 
}
header div {background-color: #555;
color:#DADBD7;
padding: 5px;}
header nav ul{list-style-type: none;
padding: 0;
margin: 0;}
header nav button {margin: .2rem 2vw;
background-color: transparent;
border: none;
font-size: 2rem;
color: #555}


nav ul li a { display: block;
padding: .8rem 2vw;
text-decoration: none;
color: #333;
border-top: 1px solid rgba(0,0,0,0.5);}
.mmmw {float:right ;}
nav ul li.active a {background-color: rgba(0,0,0,0.2);
color: #fff}

nav ul li a:hover {background-color: rgba(0,0,0,0.3);}
nav ul {display: none;}
nav ul.open {display: block;}

#button span:nth-child(1) {display: block;}
#button span:nth-child(2) {display: none;}


#button.open span:nth-child(1) {display: none;}
#button.open span:nth-child(2) {display: block;}


main {
  margin: 10px;

display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
text-align: center;}
.weather, .events, .sportlight, .hero, .news-release {
  border:   1px solid ;
margin-bottom: 10px ;}
.join, .sportlight3 { display: none;}
.hero > a > button {background-color: rgb(96, 185, 96);
text-decoration-style: none;
width: 200px;
height: 50px;
border-radius: 10px;
font-weight: bolder;
font-size: larger;
line-height: 20%;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.weatherlogo {width: 100px;}

/* picture {width: 100%;} */
.hero-content{position: relative;}
.my-h1 {position: absolute;
top: 0;
right: 0}
.hero-content a  {position: absolute;
bottom: 10px;
right:10px}

img {width: 100%;
height: inherit;object-fit: cover;}

footer {background-color: #DADBD7;
text-align: center;}
.banner {width: 100%;
background-color: aqua;
text-align: center;
display:none;}


/*    This is the css for the Discovery page     */
.figure-elements {margin-left: 0;
margin-right: 0;}

/*    This is the css for the Join page     */

form label.top, label.top input {
  display: block;
  width: 100%;
  
}
label.top  input, textarea {
  margin-bottom: 1rem;
  border: none;
  background-color: rgba(177, 177, 177, 0.199);
  border-bottom: 1px solid rgb(96, 185, 96);
 }
 .sbs {display: block;
height: min-content;
padding: .3rem;}
.sbs input{margin-right: 1rem;}

form div {text-align: center;}

.submit {border: none;
width: 100%;
max-width: 20rem;}
.benefit {display: none;}
